@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.stv-radio-buttons-wrapper {
  clear: both;
  display: inline-block;
  z-index: 100 !important;
  position: fixed;
  top: 10px;
  right: 10px;
}

.stv-radio-button {
  position: absolute;
  left: -9999em;
  top: -9999em;
}

input[type="radio"][name="draw"]:checked + label{
  background-color: red;
}

.radiol {
	width: 85px;
    float: left;
    padding: .5em 1em;
    cursor: pointer;
    border: 1px solid #28608f;
    margin-right: -1px;
    color: #fff;
    background-color: #428bca;
}

#mapid { 
  height: 100%; 
  padding: 0; 
  margin: 0; 
  z-index: 1;
}

#latlng {
  position: fixed;
  top: 120px;
  right: 10px;
  z-index: 100 !important;
}
