<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    <link href="{{ url_for('static', filename='about_style.css') }}"  rel="stylesheet" />
    <title>О проекте</title>
</head>
<body>
    <ul class="menu-main">
      <li><a href="{{ url_for('main') }}">Main</br>page</a></li>
      <li><a href="{{ url_for('test2') }}">Monthly</br>report</a></li>
      <li><a href="{{ url_for('interactive_map') }}">Interactive</br>map</a></li>
      <li><a href="{{ url_for('aviation_statistics') }}">Aviation</br>statistics</a></li>
    </ul> 
    <div class="v33_12">
        <div class="v33_13">
            <div class="v33_14"></div>
            <span class="v33_15">Контакты:</span>
            <span class="v33_155">project530@miem.hse.ru<br>+7 (999) 888-77-66</span>
            <span class="v33_16">Информация:</span>
            <span class="v33_166">информация<br>информация<br>информация</span>
            <span class="v33_17">Команда разработки:</span>
            <span class="v33_177">Прокофьева Екатерина<br>Некрасов Глеб<br>Брагин Никита<br>Беляков Семен<br>Поливода Денис<br>Мальцев Максим<br>Иванова Екатерина<br>Геворков Иван<br>Осипов Александр</span>
            <div class="v33_18"></div>
            <div class="v33_19"></div>
        </div>
        <div class="v72_0">
            <div class="logo_1"></div>
            <div class="logo_2"></div>
            <div class="logo_3"></div>
            <div class="logo_4"></div>
            <div class="logo_5"></div>
            <div class="container_1">
                <span class="v1_6">Университет Тайта Тавета</span>
                <span class="v1_5">Технический университет<br>”Фрайбергская горная академия”</span>
                <span class="v1_4">Институт проблем комплексного освоения недр<br>Российской Академии Наук</span>
                <span class="v1_3">Институт геграфии<br>Российской Академии Наук</span>
                <span class="v1_2">Национальный исследовательский университет<br>“Высшая школа экономики”</span>
            </div>
            <span class="v1_1">Организации</span>
        </div>
        <div class="v40_8">
            <span class="v37_19">Участники и роли</span>
            <span class="v40_9">Брагин Никита</span>
            <span class="v40_999">Full-Stack-разработчик</span>
            <span class="v40_11">Прокофьева Екатерина</span>
            <span class="v40_222">Руководитель направления</span>
            <div class="v41_12"></div>
            <span class="v41_4">Поливода Денис</span>
            <span class="v41_444">Frontend-разработчик</span>
            <div class="v41_5"></div>
            <span class="v37_22">Некрасов Глеб</span>
            <span class="v37_222">Руководитель проекта,<br>Иницииатор проекта</span>
            <div class="v40_5"></div>
            <div class="v41_13"></div>
            <span class="v41_6">Беляков Семен</span>
            <span class="v41_666">Старший по группе, технический<br>писатель и тестировщик</span>
            <div class="v41_7"></div>
            <span class="v66_0">Осипов Александр</span>
            <span class="v66_000">Frontend-разработчик</span>
            <div class="v66_1"></div>
            <span class="v66_2">Геворков Иван</span>
            <span class="v66_222">Backend-разработчик</span>
            <div class="v66_3"></div>
            <span class="v66_4">Иванова Екатерина</span>
            <span class="v66_444">Frontend-разработчик</span>
            <div class="v69_2"></div>
            <span class="v40_14">Мальцев Максим</span>
            <span class="v40_144">Backend-разработчик</span>
            <div class="v51_4"></div>
        </div>
        <div class="v37_13">
            <span class="v36_1">Разработка модели масштабируемых потоков пространственно-временных данных от разнородных источников<br>Разработка комплекса алгоритмов для построения пространственных моделей природно-хозяйственных систем в режиме реального времени<br>Разработка на основе полученных с различных источников данных методов оперативного наблюдения и анализа, позволяющих проводить комплексную оценку ситуации на исследуемой территории<br>Интеграция данных регионального непрерывного мониторинга и системы оперативного геоинформационного картографирования для обеспечение информационного единства</span>
            <span class="v36_52">1&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br><br><br>2&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br><br><br><br>3&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br><br><br><br><br>4&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>
            <span class="v36_0">Общая информация<br>о проекте</span>
        </div>
        <div class="v37_18">
            <span class="v34_2">Создание эффективной структуры базы геопространственных данных для оперативного мониторинга рисков и опасных явлений.</span>
            <span class="v34_0">Наша цель</span>
            <div class="v37_3"></div>
        </div>
        <div class="v33_34">
            <span class="v33_35">Проект №530</span>
            <div class="line4"></div>
            <span class="v33_36">Формирование комплексной базы<br>геопрастранственных данных мониторинга<br>авиазагрязнений атмосферы</span>
            <div class="line3"></div>
            <div class="name"></div>
            <div class="name"></div>
        </div>

    </div>
</body>
</html>
