<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
	<link href="{{ url_for('static', filename='aviation_statistics.css') }}"  rel="stylesheet" />
	<title>Авиационная статистика</title>
	{% block head %}{% endblock %}
</head>
<body>
	<div class="main_container" style="height: unset;">
		<ul class="menu-main">
          <li><a href="{{ url_for('main') }}">Main</br>page</a></li>
          <li><a href="{{ url_for('about') }}">About</br>this project</a></li>
          <li><a href="{{ url_for('interactive_map') }}">Interactive</br>map</a></li>
          <li><a href="{{ url_for('test2') }}">Monthly</br>report</a></li>
        </ul> 
		<div class="about" style="height: unset;">
			<span class="t5">Результат запроса:</span>
			{% block body %}
			{{json_obj|safe}}
			{% endblock %}
		</div>
	</div>
	<form action="/aviation_statistics/" method="POST">
 		   <!-- скрытый параметр -->
 		   <input type="hidden" name="index" value="Airbus">
  		  <input type="submit" class="btn btn-dark" value="Показать самолеты Airbus">
	</form>
	<form action="/aviation_statistics/" method="POST">
 		   <!-- скрытый параметр -->
 		   <input type="hidden" name="index" value="Boeing">
  		  <input type="submit" class="btn btn-dark" value="Показать самолеты Boeing">
	</form>
	<form action="/aviation_statistics/" method="POST">
 		   <!-- скрытый параметр -->
 		   <input type="hidden" name="index" value="ALL">
  		  <input type="submit" class="btn btn-dark" value="Показать общую статистику">
	</form>
	<form action="/aviation_statistics/" method="POST">
 		   <!-- скрытый параметр -->
 		   <input type="hidden" name="index" value="Антонов">
  		  <input type="submit" class="btn btn-dark" value="Показать самолеты Антонов">
	</form>
	<form action="/aviation_statistics/" method="POST">
 		   <!-- скрытый параметр -->
 		   <input type="hidden" name="index" value="Сухой">
  		  <input type="submit" class="btn btn-dark" value="Показать самолеты Сухой">
	</form>
	<form action="/aviation_statistics/" method="POST">
 		   <!-- скрытый параметр -->
 		   <input type="hidden" name="index" value="Выбросы">
  		  <input type="submit" class="btn btn-dark" value="Статистика по выбросам">
	</form>

</body>
</html>
