<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
	<link href="{{ url_for('static', filename='test2.css') }}"  rel="stylesheet" />
	<title>Ежемесячные отчёты</title>
	{% block head %}{% endblock %}
	<script>
	function getCurrentMonth() {
     var link = document.createElement("a");
     link.setAttribute('download', 'name');
     link.href = "/home/Nik/app/app/static/main_images/March2022.pdf";
     alert(link.href)
     document.body.appendChild(link);
     link.click();
     link.remove();
     }
     
   function getDefineMonth() {
    var araNumber = document.getElementById("months1");
    var link = document.createElement("a");
    link.setAttribute('download', araNumber.value);
    link.href = "/home/Nik/app/app/static/main_images/"+araNumber.value+".pdf";
    alert(link.href)
    document.body.appendChild(link);
    link.click();
    link.remove();
    }
    
    function getSelectValues() {
    var select = document.getElementById("months2")
    var result = [];
    var options = select && select.options;
    var opt;

      for (var i=0, iLen=options.length; i<iLen; i++) {
        opt = options[i];
    
        if (opt.selected) {
          result.push(opt.value || opt.text);
          var link = document.createElement("a");
          link.setAttribute('download', opt.value);
          link.href = "/home/Nik/app/app/static/main_images/"+opt.value+".pdf";
          alert(link.href)
          document.body.appendChild(link);
          link.click();
          link.remove();
        }
      }
}
  </script>
</head>
<body>
    <ul class="menu-main">
      <li><a href="{{ url_for('main') }}">Main</br>page</a></li>
      <li><a href="{{ url_for('about') }}">About</br>this project</a></li>
      <li><a href="{{ url_for('interactive_map') }}">Interactive</br>map</a></li>
      <li><a href="{{ url_for('aviation_statistics') }}">Aviation</br>statistics</a></li>
    </ul>   
	<div class="titleinfo">В отчетах собрано огромное количество полезной информации:</div>
	<ul class="review">
    	<li>Общее количество выбросов за месяц</li>
    	<li>Статистика по компаниям</li>
    	<li>Ежедневная статистика по рейсам</li>
    	<li>И многое, многое другое...</li>
	</ul>
	<div class="nearestMonth">
    	<p> Отчет за последний месяц:
    	<button type="button" name="run_script" onclick=getCurrentMonth()>Скачать</button>
    	</p>
	</div>
    <div class="ChooseMonth">
        <p>Выбрать отчет за определённый месяц:
        <select name="months1" id="months1">
          <option value="March2022">Март 2022</option>
          <option value="April2022">Апрель 2022</option>
        </select>
        <button type="button" name="run_script2" onclick=getDefineMonth()>Скачать</button>
        </p>
    </div>
    <div class="ChooseMonth"> 
        <p>Посмотреть отчёт за период:
        <select name="months[]" multiple="multiple" id="months2" size="2">
          <option value="March2022">Март 2022</option>
          <option value="April2022">Апрель 2022</option>
        </select>
        <button type="button" name="run_script4" onclick=getSelectValues()>Скачать</button>
        </p>
    </div>
    <footer>
    <ul>
    <li>Команда разработки:</br></br>Прокофьева Екатерина<br>Некрасов Глеб<br>Брагин Никита<br>Беляков Семен<br>Поливода Денис<br>Мальцев Максим<br>Иванова Екатерина<br>Геворков Иван<br>Осипов Александр</li>
    <li>Котакты:</br></br>project530@miem.hse.ru</br>+7 (999) 888-77-66</li>
    <li>Будем рады</br>услышать обратную</br>связь от вас</li>
    </ul>
  </footer>
</body>
</html>
