<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    <link href="/static/about_style.css" rel="stylesheet" />
    <title>О проекте</title>
</head>

<body>
    <div class="wrapper">
        <ul class="menu-main">
            <li><a href="{{ url_for('main') }}">Main</br>page</a></li>
            <li><a href="{{ url_for('interactive_map') }}">Interactive</br>map</a></li>
            <li><a href="{{ url_for('calculator') }}">CO2</br>calculator</a></li>
            <li><a href="{{ url_for('test2') }}">Monthly</br>report</a></li>
            <li><a href="{{ url_for('aviation_statistics') }}">Aviation</br>statistics</a></li>
            <li><a href="{{ url_for('about') }}">About</br>this project</a></li>
        </ul>
        <div class="v33_12">
            <div class="v33_34">
                <span class="v33_35">Проект №530</span>
                <div class="line4"></div>
                <span class="v33_36">Формирование комплексной базы<br>геопрастранственных данных
                    мониторинга<br>авиазагрязнений атмосферы</span>
                <div class="line3"></div>
                <div class="name"></div>
                <div class="name"></div>
            </div>
            <div class="v37_18">
                <div class="goal">
                    <span class="v34_0">Наша цель</span>
                    <span class="v34_2">Создание эффективной структуры базы геопространственных данных для оперативного
                        мониторинга рисков и опасных явлений.</span>
                </div>
                <div class="v37_3"></div>
            </div>
            <div class="v37_13">
                <span class="v36_0">Общая информация о проекте</span>
                <div class="information">
                    <span
                        class="v36_52">1&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br><br><br>2&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br><br><br><br>3&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br><br><br><br><br>4&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>
                    <span class="v36_1">Разработка модели масштабируемых потоков пространственно-временных данных от
                        разнородных источников<br><br>Разработка комплекса алгоритмов для построения пространственных
                        моделей природно-хозяйственных систем в режиме реального времени<br><br>Разработка на основе
                        полученных с различных источников данных методов оперативного наблюдения и анализа, позволяющих
                        проводить комплексную оценку ситуации на исследуемой территории<br><br>Интеграция данных
                        регионального непрерывного мониторинга и системы оперативного геоинформационного
                        картографирования для обеспечение информационного единства</span>
                </div>
            </div>
            <div class="v40_8">
                <span class="v37_19">Участники и роли</span>
                <div class="my_grid">

                    <div class="v51_4"></div>
                    <div>
                        <span class="v40_11">Прокофьева Екатерина<br></span>
                        <span class="v40_222">Руководитель направления</span>
                    </div>


                    <div class="v41_12"></div>
                    <div>
                        <span class="v40_9">Брагин Никита<br></span>
                        <span class="v40_999">Full-Stack-разработчик</span>
                    </div>


                    <div class="v41_12222"></div>
                    <div>
                        <span class="v41_4">Поливода Денис<br></span>
                        <span class="v41_444">Frontend-разработчик</span>
                    </div>


                    <div class="v41_12222"></div>
                    <div>
                        <span class="v37_22">Некрасов Глеб<br></span>
                        <span class="v37_222">Руководитель проекта,<br>Иницииатор проекта</span>
                    </div>



                    <div class="v41_13"></div>
                    <div>
                        <span class="v41_6">Беляков Семен<br></span>
                        <span class="v41_666">Старший по группе, технический<br>писатель и тестировщик</span>
                    </div>


                    <div class="v41_7"></div>
                    <div>
                        <span class="v66_0">Осипов Александр<br></span>
                        <span class="v66_000">Frontend-разработчик</span>
                    </div>

                    <div class="v66_1"></div>
                    <div>
                        <span class="v66_2">Геворков Иван<br></span>
                        <span class="v66_222">Backend-разработчик</span>
                    </div>


                    <div class="v51_44"></div>
                    <div>
                        <span class="v66_4">Иванова Екатерина<br></span>
                        <span class="v66_444">Frontend-разработчик</span>
                    </div>

                    <div class="v69_2"></div>
                    <div>
                        <span class="v40_14">Мальцев Максим<br></span>
                        <span class="v40_144">Backend-разработчик</span>
                    </div>

                </div>
            </div>
            <div class="v72_0">
                <span class="v1_1">Организации</span>
                <div class="container_13">
                    <span class="v1_2">Национальный исследовательский университет<br>“Высшая школа экономики”</span>
                    <div class="logo_1"></div>
                    <span class="v1_3">Институт геграфии<br>Российской Академии Наук</span>
                    <div class="logo_2"></div>
                    <span class="v1_4">Институт проблем комплексного освоения недр<br>Российской Академии Наук</span>
                    <div class="logo_3"></div>
                    <span class="v1_5">Технический университет<br>”Фрайбергская горная академия”</span>
                    <div class="logo_4"></div>
                    <span class="v1_6">Университет Тайта Тавета</span>
                    <div class="logo_5"></div>
                </div>
            </div>
        </div>
        <footer>
            <ul>
                <li>Команда разработки:<br /><br />Прокофьева Екатерина<br />Некрасов Глеб<br />Поливода
                    Денис<br />Брагин Никита<br />Мальцев Максим<br />Осипов Александр<br />Геворков Иван<br />Беляков
                    Семен</li>
                <div class="v33_18"></div>
                <li>Котакты:</br></br>project530@miem.hse.ru</br>+7 (999) 888-77-66</li>
                <div class="v33_19"></div>
                <li>Обратная связь</br></br>Будем рады услышать предложения по улучшению сайта.<br />Наша почта:
                    project530@miem.hse.ru</li>
            </ul>
        </footer>
    </div>
</body>

</html>