* {
  overflow-x: hidden;
  margin: auto;
}
body{
  background-color: rgba(52,54,51,1);
  margin: 0;
  overflow-x: hidden;
}

A:hover {
  text-decoration: underline;
}
.main_container {
  width: 100%;
  height: 2395px;
  background: rgba(52,54,51,1);
  opacity: 1;
  margin: auto;
  zoom: 0.9;
}
.down_menu {
  width: 100%;
  height: 284px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2111px;
  left: 0px;
  overflow: hidden;
}
.v11_0 {
  width: 100%;
  height: 284px;
  background: rgba(91,140,90,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_5 {
  width: 350px;
  color: rgba(230,232,239,1);
  position: absolute;
  top: 36px;
  left: 1000px;
  font-family: Comfortaa;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v11_4 {
  width: 350px;
  color: rgba(230,232,239,1);
  position: absolute;
  top: 36px;
  left: 625px;
  font-family: Comfortaa;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v11_6 {
  width: 350px;
  color: rgba(230,232,239,1);
  position: absolute;
  top: 36px;
  left: 250px;
  font-family: Comfortaa;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v11_8 {
  height: 227px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 975px;
  border: 1px solid rgba(161,186,165,1);
}
.v11_7 {
  height: 227px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 612px;
  border: 1px solid rgba(161,186,165,1);
}
.statistics {
  width: 100%;
  height: 801px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1247px;
  left: 250px;
  overflow: hidden;
}
.t9 {
  width: 550px;
  color: rgba(240,189,106,1);
  position: absolute;
  top: 101px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.picture_sample2 {
  width: 500px;
  height: 700px;
  background: rgba(72,77,69,1);
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 600px;
  overflow: hidden;
}
.button2_backgraund {
  width: 500px;
  height: 120px;
  background: rgba(161,186,165,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.t10 {
  width: 400px;
  color: rgba(52,54,51,1);
  position: absolute;
  top: 720px;
  left: 51px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.arrow_B1 {
  width: 30px;
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 420px;
  border: 2.5px solid rgba(52,54,51,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(52,54,51,1);
}
.t11 {
  width: 100%;
  color: rgba(240,189,106,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 78px;
  opacity: 1;
  text-align: left;
}
.interactive_map {
  width: 100%;
  height: 796px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 250px;
  overflow: hidden;
}
.t6 {
  width: 550px;
  color: rgba(240,189,106,1);
  position: absolute;
  top: 95px;
  left: 550px;
  font-family: Comfortaa;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.picture_sample1 {
  width: 500px;
  height: 700px;
  background: rgba(72,77,69,1);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 0px;
  overflow: hidden;
}
.button1_backgraund {
  width: 500px;
  height: 120px;
  background: rgba(161,186,165,1);
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 600px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.t7 {
  width: 400px;
  color: rgba(52,54,51,1);
  position: absolute;
  top: 715px;
  left: 650px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.arrow_A1 {
  width: 30px;
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 1020px;
  border: 2.5px solid rgba(52,54,51,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(52,54,51,1);
}
.t8 {
  width: 100%;
  color: rgba(240,189,106,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 78px;
  opacity: 1;
  text-align: right;
}
.about {
  width: 100%;
  height: 174px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 250px;
  overflow: hidden;
}
.t4 {
  width: 100%;
  color: rgba(230,232,239,1);
  position: absolute;
  top: 114px;
  right: 500px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.t5 {
  width: 100%;
  color: rgba(240,189,106,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.up_menu {
  width: 100%;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.up_backgraund {
  width: 100%;
  height: 170px;
  background: rgba(91,140,90,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.t1 {
  width: 350px;
  color: rgba(230,232,239,1);
  position: absolute;
  top: 15%;
  left: 625px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.t2 {
  width: 350px;
  color: rgba(230,232,239,1);
  position: absolute;
  top: 15%;
  left: 1000px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.t3 {
  width: 350px;
  color: rgba(230,232,239,1);
  position: absolute;
  top: 15%;
  left: 250px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.t3 {
  width: 350px;
  color: rgba(230,232,239,1);
  position: absolute;
  top: 15%;
  left: 50px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.line1 {
  height: 104px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 975px;
  border: 1px solid rgba(161,186,165,1);
}
.line2 {
  height: 104px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 612px;
  border: 1px solid rgba(161,186,165,1);
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 1100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background: white;
}
.styled-table thead tr {
  background-color: rgba(161,186,165,1);
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


.menu-main {
  display: table;
  width: 97.5%;
  background: rgba(91,140,90,1);
  margin: 0;
}

.menu-main ul{
  display: table-row;
  margin: 0;
}
.menu-main li {
    text-align: center;
    width: 25%;
    display: table-cell;
    padding: 0;
    margin: 0;
}

.menu-main a {
  line-height: normal;
  display: inline-block;
    
  text-decoration: none;
  font-family: 'Comfortaa', sans-serif;
  position: relative;
  color: rgba(230,232,239,1);
  font-weight: Bold;
  font-size: 3.5vw;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}
 footer{
  display: table;
  width: 100%;
  background: rgba(91,140,90,1);
 }
footer ul{
  display: table-row;
  margin: 0;
}
footer li {
    text-align: center;
    width: 33%;
    display: table-cell;
    padding: 0;
    margin: 0;
    color: rgba(230,232,239,1);
    font-size: 1vw;
    font-family: Comfortaa;
    font-weight: Regular;
}

